.project-img,
.project-live-img {
  /* height: 25vw; */
  width: 50vw;
  border-radius: 8px;
}

.info-box {
  border-left: 5px solid orange;
  padding: 12px;
  margin: 2vw 0;
  background-color: rgba(0, 0, 0, 0.14);
}

.project-img {
  margin: 2vw 0;
}

.api {
  text-decoration: none;
  color: orange;
  padding: 0 8px;
  font-style: italic;
}

.front-end-projects {
  padding: 0 10vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vw;
  align-items: center;
}

.back {
  color: white;
  padding: 1vw 48px;
}

/* .back::after{
  text-decoration: none;
  color: white;
} */

.fe-project-heading {
  font-size: 36px;
}

.front-end-project-heading {
  font-size: 24px;
  font-weight: 600;
}

.front-end-project-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project-desc,
.front-end-project-desc {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.653);
  width: 50vw;
}

.project-link {
  color: white;
  background-color: rgba(0, 0, 0, 0.252);
  border-radius: 24px;
  text-decoration: none;

  padding: 12px 16px;
}

.github,.live-preview{
  text-decoration: none;
  color: white;
  padding: 8px;
}

.links {
  justify-content: start;
  display: flex;
  gap: 0.5vw;
  align-items: flex-start;
  margin-top: 12px;
  margin-left: 0;
}

.keywords {
  text-decoration: 1.5px solid #7b58ed underline;
  font-style: italic;
}

hr {
  color: white;
  width: 50vw;
}

.fe-circle-1{
  border-radius: 50%;
  background-color: #353c4890;
  width: 50vw;
  height: 50vw;
  position: fixed;
  right: 70%;
  top: 50%;
  z-index: -100;
}

.fe-circle {
  border-radius: 50%;
  background-color: #353c4890;
  width: 50vw;
  height: 50vw;
  position: fixed;
  left: 70%;
  top: -60%;
  z-index: -100;
}