.project-img {
  height: 25vw;
  width: 40vw;
  border-radius: 12px;
}

.project-live-img {
  height: 20vw;
  border-radius: 12px;
}

.info-box {
  background-color: white;
  border-left: 5px solid orange;
  padding: 12px;
  color: black;
}

a {
  text-decoration: none;

}

.front-end-projects {
  padding: 2vw 10vw;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  align-items: flex-start;
}

.back {
  color: white;
  padding: 1vw 48px;
}

.front-end-project-heading {
  font-size: 24px;
}

.front-end-project-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-desc,
.front-end-project-desc {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.653);
}

.github{
    color: white;
    text-decoration: underline;
}